html,
body,
#canvas {
  height: 25%;
  padding: 0;
  margin: 0;
}

.diagram-note {
  background-color: rgba(66, 180, 21, 0.7);
  color: White;
  border-radius: 5px;
  font-family: Arial;
  font-size: 12px;
  padding: 5px;
  min-height: 16px;
  width: 50px;
  text-align: center;
}

.needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: rgba(66, 180, 21, 0.7) !important; /* color elements as red */
}

.menuBtns {
  flex-direction: row;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 2px;
  padding: 8px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  cursor: default;
  font-size: 14px;
  color: #444;
  margin: 5px;
}

.editor-container {
  margin-left: 50px;
  width: 70vw;
  height: 85vh;
  float: left;
  border-style: groove;
}

.menu-container {
  float: left;
}

.tabs {
  margin-top: 60px;
  margin-bottom: 20px;
}

.main-menu {
  align-items: center;
  justify-content: center;
  /*flex-direction: column; */
}

a {
  padding: 50px;
}

#canvas {
  width: 200px;
  height: 500px;
  display: none;
}
